.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-3);
}

.title {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.link {
  font-size: var(--font-size-sm);
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .title {
    font-size: var(--font-size-xl);
  }
}

