@mixin elevation($level) {
  @if $level == 1 {
    box-shadow: var(--mc-shadow-1);
  }
  @else if $level == 2 {
    box-shadow: var(--mc-shadow-2);
  }
}

@mixin radius($size) {
  @if $size == md {
    border-radius: var(--mc-radius);
  }
  @else if $size == lg {
    border-radius: calc(var(--mc-radius) * 1.25);
  }
}
