@import './tokens.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: 2px solid theme('colors.primary.DEFAULT');
  outline-offset: 2px;
}

[data-theme='dark'] :focus-visible {
  outline-color: theme('colors.accent');
}
